# Seishiro Passkey (Required)
SEISHIRO_PASSKEY="YouNeedPutGenerate-HexCode(16)+Base64URL(32)"

# JWT Token
APP_JWT_SECRET="YouNeedPutJWTToken"

# Mongodb URL (Required)
MONGODB_URI="mongodb://root:user1234@localhost/jogja-navigator-example?authSource=admin"

# Google OAuth (Required)
GOOGLE_CLIENT_ID="xxxx-xxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX..."
GOOGLE_REDIRECT_URI="http://localhost:3511/api/auth"

# Google Gemini API
MODEL_AI_AGENT="gemini-2.5-pro"
MODEL_RESEARCH="gemini-2.5-flash"
GEMINI_APIKEY=""